@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Bitter|EB+Garamond');

/* MAIN STYLING */

body {
    background-color: #000f1a;
    overflow-x: hidden;
    font-family: 'EB Garamond';
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #FFFFFF8C;
}

.navbar {
    background-color: #000f1a;
}

#nav-logo {
    text-align: center;
}

.navbar-nav {
    font-size: 20px;
}

#main {
    height: 100vh;
    background-image: url(Images/razzo-bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#main .body {
    padding-top: 35vh;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-shadow: #000;
}

#main hr {
    display: block;
    margin: auto;
    padding-bottom: 2vh;
    width: 400px;
    color: #fff;
}

.body p {
    padding-bottom: 1vh;
}

.btn-request {
    background-color: rgb(28, 55, 74);
    color: #fff;
    font-size: 25px;
    padding: 15px;
    width: 250px;
    border-radius: 50px;
}

.btn-request:hover {
    background-color: rgb(28, 55, 74, 0.9);
}

.btn-request:focus {
    background-color: rgb(255, 144, 0, 0.8);
}

#services {
    min-height: 30vh;
    background-color: rgba(255, 255, 255);
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services {
    color: #4180CB;
    font-family: 'Bitter';
    font-size: 50px;
    margin: auto;
}

/* FOOTER STYLING */

.footer {
    background: #000f1a;
    color:white;
}

.links ul {
    list-style-type: none;
    font-size: 20px;
}

.links li a {
    text-decoration: none;
    color: white;
    transition: color .2s;
}

.links li a:hover {
    color:#4180CB;
}

.about-company {
    font-size: 25px;
}

.about-company a{
    color:white;
    transition: color .2s;
}

.about-company:hover {
    color:#4180CB
}
 
.location {
    font-size: 20px;
}

.copyright {
    padding-top: 25px;
    border-top:1px solid rgba(255,255,255,.1);
}

/* TABLET VIEW */

@media (min-width: 481px) and (max-width: 1440px) {

    .navbar-nav {
        text-align: right !important;
    }

    #main {
        min-height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    #main .body {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 10vh 0 25vh 0;
    }

    #services {
        min-height: 50vh;
    }

    .services {
        font-size: 2em;
    }
}

/* MOBILE VIEW */

@media screen and (max-width: 480px) {

    body {
        background-position:center;
    }

    #nav-logo {
        text-align: center;
        width: 75vw;
    }

    .navbar-toggler {
        display: block;
        margin: auto;
    }

    .navbar-nav {
        text-align: right !important;
    }

    #main {
        height: auto;
    }

    #main .body {
        margin: -25vh 0 0 0;
        padding-bottom: 20vh;
    }

    #services {
        min-height: 50vh;
    }

    .services {
        font-size: 2em;
    }

    .about-company {
        padding-bottom: 2vh;
    }

    .links {
        padding: 0 0 2vh 0;
    }

    .location {
        padding: 2vh 0 0 0;
    }

    .copyright {
        padding-top: auto;
    }

    .footer {
        padding: auto;
    }
    
}