@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

/* MAIN STYLING */

body {
    background-color: #000;
    background-image: url(Images/razzo-bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Noto Serif';
    text-align: center;
}

a {
    text-decoration: none;
}

#nav-logo {
    text-align: center;
}

#main {
    height: 90vh;
}

#welcome {
    color: rgb(255, 255, 255);
    margin: 30vh 0 30vh 0;
    font-size: 60px;
    text-shadow: #000;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* border: 1px solid #000;
    border-radius: 20px;*/
}

#welcome p {
    margin: 10px;
}

.btn-request {
    background-color: rgb(28, 55, 74);
    color: #fff;
    font-size: large;
    padding: 15px;
    width: 250px;
    border-radius: 50px;
}

.btn-request:hover {
    background-color: rgb(28, 55, 74, 0.9);
}

/* FOOTER STYLING */

.footer {
    background: #1c374a;
    color:white;
}

.links ul {
    list-style-type: none;
}

.links li a {
    text-decoration: none;
    color: white;
    transition: color .2s;
}

.links li a:hover {
    color:#4180CB;
}

.about-company {
    font-size: 25px;
}

.about-company a{
    color:white;
    transition: color .2s;
}

.about-company:hover {
    color:#4180CB
}
 
.location {
    font-size: 18px;
}

.copyright {
    padding-top: 25px;
    border-top:1px solid rgba(255,255,255,.1);
}

/* TABLET VIEW */

@media (min-width: 481px) and (max-width: 1440px) {

    .navbar-nav {
        text-align: right !important;
    }

    #welcome {
        margin: auto;
    }
}

/* MOBILE VIEW */

@media screen and (max-width: 480px) {

    body {
        background-position:center;
    }

    #nav-logo {
        text-align: center;
        width: 75vw;
    }

    .navbar-toggler {
        display: block;
        margin: auto;
    }

    .navbar-nav {
        text-align: right !important;
    }

    #welcome {
        margin: auto;
        padding-top: 22px;
    }

    .btn-request {

    }
    
}