body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}

.links {
  text-decoration: none;
}

.logo-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
}

.main-logo {
    width: 1000px;
    height: 500px;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8vh;
}

.infographics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
  padding-bottom: 1vh;
}

.subtitles {
  border: none;
  text-align: center;
  width: 400px;
}

.color-block-top {
  background-color: rgb(36,54,138);
  padding: 1vh;
}

.block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
  width: 100%;
}

.beach {
  min-width: 110%;
  margin-left: -100px;
  height: 500px;
  object-fit: cover;
}

.block1 {
    min-height: 10em;
}

.block2 {
    min-height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.welcome-text {
  min-height: 10vh;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 10px
}

.tourist-icon {
  float: left;
  display: block;
  margin-left: 15vh;
  margin-right: auto;
}

.tourists {
  padding-top: 5vh;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  @media only screen and (max-width: 480px) {

    .logo-block {
      height: 30vh;
    }
    
    .main-logo {
      height: 300px;
      object-fit:scale-down;
  }

  .beach {
    display: block;
    margin-left: -30px;
    margin-right: auto;
    min-width: 115%;
    height: 300px;
    object-fit: cover;
  }

    .welcome-card {
      min-width: 100%;
    }
    
    .welcome-text {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 10px
    }

    .infographics {
      display: block;
      margin-top: 1vh;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
      width: 43vh;
    }

    .tourist-icon {
      display: block;
      margin-left: 7vh;
      margin-right: auto;
      margin-bottom: 2vh;
    }

  }