/* GENERAL STYLING */

@import url(http://fonts.googleapis.com/css?family=Raleway|Lato|Playfair);

:root {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', 'Lato', 'Playfair', serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

.links {
  text-decoration: none;
}

a, u {
  text-decoration: none;
}

.img {
  float: left;
}

.btn {
  width: 75px;
  height: 40px;
  color: white;
  background-color: rgb(36, 54, 138);
}

.btn-warning {
  background-color: rgb(223,193,83);
}

/* NAVBAR STYLING */

#gemini-text {
  color: rgb(223,193,83);
  font-weight: 500;
  font-size: larger;
  font-family: 'Berling EF Regular';
}

#navbarText {
  font-weight: 900;
}

/* HEADER STYLING */

.logo-block {
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
  height: 400px;
}

.color-block-top {
  background-color: rgb(36, 54, 138);
  height: 2vh
}

.main-logo {
  width: 1000px;
  height: 500px;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8vh;
}

.main-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 500px;
}

/* MAIN CONTENT STYLING */

.block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block1 {
  min-height: 500px;
}

.block2 {
  display: block;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.welcome-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: x-large;
  max-width: 50vw;
  padding: 13vh 15px 10vh 15px;
}

.welcome-text h1 {
  text-align: center;
  font-weight: bolder;
}

.services {
  display: flex;
  align-items: center;
  font-size: larger;
  min-height: 500px;
  margin: auto;
  padding: 5px 5px 5px 5px;
}

.services hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50px;
}

.infographics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
  opacity: 1;
}

.infographics:hover {
  opacity: 0.5;
}

.subtitles {
  display: block;
  border: none;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle-footer {
  font-size: large;
}

/* TOURIST SECTION STYLING */

.tourist-icon {
  float: left;
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
}

.tourists {
  text-align: center;
  font-size: x-large;
  min-height: 500px;
  display: flex;
  align-items: center;
}

/* FOOTER STYLING */

.footer-basic {
  padding-top: 40px;
  color:#4b4c4d;
}

.footer-basic ul {
padding:0;
list-style:none;
text-align:center;
font-size:18px;
line-height:1.6;
margin-bottom:0;
}

.footer-basic li {
padding:0 10px;
}

.footer-basic ul a {
color:inherit;
text-decoration:none;
opacity:0.8;
}

.footer-basic ul a:hover {
opacity:1;
}

.footer-basic .social {
text-align:center;
padding-bottom:25px;
}

.footer-basic .social > a {
font-size: 24px;
width: 40px;
height: 40px;
line-height: 40px;
display: inline-block;
text-align: center;
border-radius: 50%;
border: 1px solid #ccc;
margin: 0 8px;
color: inherit;
opacity: 0.75;
}

.footer-basic .social > a:hover {
opacity:0.9;
}

.footer-basic .copyright {
margin-top:15px;
text-align:center;
font-size:13px;
color:#aaa;
margin-bottom:0;
}

/* QUOTE FORM STYLING */

.quote-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 5px, 5px, 5px, 5px;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

/* CONTACT STYLING */

.contact-body {
  display: flex;
  align-items: center;
  min-height: 500px;
  background-image: url("./Images/contact-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  border: none;
}

.map-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
}

.contact-list {
  list-style-type: none;
  word-wrap: break-word;
}

/* TABLET VIEW */

@media (min-width: 481px) and (max-width: 1440px) {

.main-logo {
  padding-bottom: 100px;
}

.welcome-text {
  padding: 8vh 0 5vh 0;
}
  
.services{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

.tourists {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contact-body {
  background-image: none;
}

.contact-list {
  word-break: break-all;
}

}

/* MOBILE VIEW */

  @media only screen and (max-width: 480px) {

  .logo-block {
    padding-top: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 150px;
  }
    
  .main-logo {
    height: auto;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }

  .color-block-top {
    width: 100%;
  }

  .block {
    width: auto;
  }

  .main-img {
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .block1 {
    margin-left: auto;
    margin-right: auto;
  }

  .services {
    display: block;
    min-width: auto;
    margin-top: 25px;
  }
    
  .welcome-text {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 90vw;
  }

  .contact-body {
    display: block;
    margin: 50px auto 0 auto;
    background-image: none;
  }

  .map-box {
    height: 250px;
    width: 300px;
    margin-bottom: 25px;
  }

  .quote-form {
    margin: 25px 5px 25px 5px;
    padding-bottom: 5px;
  }

  .infographics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .subtitles {
    width: 350px;
  }

  .subtitle-footer {
    margin: auto;
  }

  .tourists {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
  }

  .tourist-icon {
    display: block;
    margin-left: -10vw;
    margin-right: auto;
  }

  }