body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  overflow-x: hidden;
}

.links {
  text-decoration: none;
}

a, u {
  text-decoration: none;
}

.img {
  float: left;
}

#gemini-text {
  color: rgb(223,193,83);
  font-weight: 200;
  font-size: larger;
  font-family: 'Berling EF Regular';
}

.logo-block {
  display: block;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  margin-bottom: auto;
  height: 400px;
}

.main-logo {
  width: 1000px;
  height: 500px;
  display: block;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8vh;
}

.color-block-top {
  background-color: rgb(36, 54, 138);
  height: 3vh
}

.beach {
  object-fit: cover;
  height: 500px;
}

.infographics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

.subtitles {
  display: block;
  border: none;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block1 {
  min-height: auto;
}

.block2 {
  min-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.welcome-text {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.map-body {
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.map-box {
  border: solid 1px black;
  margin-right: auto;
  margin-left: auto;
}

.contact-list {
  list-style-type:none;
  margin-left: auto;
  margin-right: auto;
}

.tourist-icon {
  float: left;
  display: block;
  margin-left: 15vh;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

.tourists {
  padding-top: 5vh;
  text-align: center;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}
  
.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

  @media only screen and (max-width: 480px) {

  .logo-block {
    height: 200px;
  }
    
  .main-logo {
    height: 300px;
    object-fit: scale-down;
    margin-top: -30px;
  }

  .color-block-top {
    width: 100%;
  }

  .block {
    width: auto;
  }

  .beach {
    height: 300px;
  }

  .block1 {
    margin-left: auto;
    margin-right: auto;
  }

  .welcome-card {
    min-width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
    
  .welcome-text {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .map-body {
    margin-top: 40px;
    margin-left: auto;
  }

  .map-box {
    height: 250px;
    width: 350px;
    margin-bottom: 25px;
  }

  .quote-form {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
  }

  .infographics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .subtitles {
    width: 350px;
  }

  .subtitle-footer {
    margin: auto;
  }

  .tourist-icon {
    display: block;
    margin-left: 7vh;
    margin-right: auto;
    margin-bottom: 2vh;
  }

  }