/* CORE STYLING */

@import url(http://fonts.googleapis.com/css?family=Qwitcher+Grypen|Combo|Alegreya+SC);

body {
    font-family: 'Alegreya SC';
    font-size: 20px;
    font-weight: bold;
    color: #973330;
    background-color: #f0c8c9;
    overflow-x: hidden;
    word-wrap: break-word;
}

/* LINKS */

a {
    text-decoration: none;
    color: #e1888b;
    font-weight: 800;
}

a:visited {
    color: #e1888b;
}

a:hover {
    color: #8dbacd;
}

a:active {
    color: #973330;
}

.bi {
    color: #973330;
}

/* NAVBAR */

.navbar {
    background-color: #f0c8c9;
    height: 90px;
}

.navbar img {
    height: 70px;
}

.navbar-text a {
    color: #973330; /* #fbe7d3 */
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.3); */
}

.navbar-text a:hover {
    color: #8dbacd;
}

a.nav-link {
    color: #973330 !important;
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.3); */
}

a.nav-link.active {
    color: #000 !important;
}

a.nav-link:hover {
    color: #8dbacd !important;
}

a.nav-link:visited {
    color: #fff;
    /* text-shadow: 1px rgba(0, 0, 0, 0.3); */
}

/* MAIN */

#banner {
    background-image: url(../img/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .2s; /* Animation */
}

#banner:hover {
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.jumbotron {
    height: 400px;
    padding: 40px 0 0 20px;
    border: none;
    border-radius: 0;
}

.jumbotron .btn {
    background-color: #973330;
    color: white;
    border: none;
}

.jumbotron .btn:hover {
    background-color: #8dbacd;
}

#hero {
    height: 350px;
    padding: 10px 0 0 10px;
}

#main-content {
    font-family: 'Qwitcher Grypen';
    font-size: 40px;
    padding-top: 50px;
}

.main-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50vw;
}

.main-text p {
    line-height: 180%;
}

.secondary-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Alegreya SC';
    font-size: 30px;
    width: 50vw;
}

.services {
    text-align: center;
    font-family: 'Alegreya SC' !important;
    font-size: 25px !important;
    width: 50%;
}

.services hr {
    width: 100px;
}

.logo {
    background-image: url(../img/decollete-new_rose.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

/* .main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
} */

/* ACCORDION */

.accordion {
    background-color: #f0c8c9;
    width: 50vw;
}

.accordion-item {
    color:#973330;
    background-color: #f0c8c9;
    border-color: #973330;
    font-weight: 200;
}

.accordion-button {
    color: white;
    background-color: #973330;
    font-size: large;
}

.accordion-button:not(.collapsed)  {
    color: #fff;
    background-color: #e1888b;
}

/* Changes text color when pressed */
.accordion-button:active {
    color: #8dbacd;
}

/* SERVICES */

.services ul {
    text-align: left;
    list-style: inside ;
}

.services ul p {
    font-size: large;
    text-indent: 50px;
}

.titles {
    font-family: 'Qwitcher Grypen';
    font-size: 50px;
    font-weight: 600;
}

/* CAROUSEL */

.carousel-inner {
    image-rendering: optimizeSpeed;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

.carousel-item img {
    height: 700px; /* 50vh */
    width: 100vw;    
}

/* SUBSCRIBE FORM */

/* Padding for the subscribe container */
.container {
    padding: 20px;
}

/* Styling for the input elements and the submit button */
input[type=text], input[type=submit], input[type=email] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline-color: #973330;
}

/* Margins for the checkbox */
input[type=checkbox] {
    margin-top: 16px;
}

/* Styling for the submit button */
input[type=submit] {
    background-color: #973330;
    color: white;
    border: none;
}

input[type=submit]:hover {
    background-color: #8dbacd;
    /* opacity: 0.8; */
}

/* CONTACT PAGE */

.contact {
    padding: 0 20px 0 20px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline-color: #973330;
}

.contact hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.contact .btn {
    background-color: #973330;
    color: white;
    border: none;
}

.contact .btn:hover {
    background-color: #8dbacd;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

/* ABOUT PAGE */

#beth-contact {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#beth-contact:hover {
    -webkit-box-shadow: 0 0 5px 2px rgba(151, 51, 48, 0.800);
    -moz-box-shadow: 0 0 5px 2px rgb(151, 51, 48, 0.800);
    box-shadow: 0 0 5px 2px rgb(151, 51, 48, 0.800);
}

/* FOOTER */

#footer {
    background-color: #f0c8c9;
    color: #973330;
}

.footer-text {
    font-family: 'Qwitcher Grypen';
    font-size: 40px;
}

#footer-copyright {
    background-color: #e1888b;
}

.arrow-button {
    float: right;
}

/* TABLET VIEW */

@media (min-width: 481px) and (max-width: 1440px) {

    .navbar {
        height: auto;
    }

    .jumbotron p {
        font-weight: 600;
        text-shadow: #000;
    }

    .main-content {
        padding-bottom: 20px;
    }

    .main-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }
    
    .logo {
        height: 300px;
        width: auto;
    }

    #carousel {
        padding-top: 50px;
    }    

    .carousel-item img {
        max-height: 500px; /* 50vh */  
    }

    .accordion {
        width: 90vw;
        margin-left: -22vw;
    }

}

/* MOBILE VIEW */

@media only screen and (max-width: 480px) {

    .navbar {
        height: auto;
    }

    .jumbotron {
        height: 450px;
        padding: 25px 0 0 13px;
    }

    #hero {
        height: 300px;
        padding: 20px 0 0 0;
    }

    .main-text {
        min-width: 90vw;
    }

    .secondary-text {
        width: 80vw;
        font-size: 25px;
    }

    #carousel {
        padding-top: 50px;
    }    

    .carousel-item img {
        max-height: 300px;
        -moz-object-fit: fill;
        object-fit: fill;
    }

    .accordion {
        width: 90vw;
        margin-left: -25vw;
    }

    .main-logo {
        width: 90vw;
    }

    .logo {
        height: 300px;
        background-size: contain;
    }
}