/* CORE STYLING */

@import url(http://fonts.googleapis.com/css?family=Qwitcher+Grypen|Combo|Alegreya+SC);

body {
    font-family: 'Alegreya SC';
    font-size: 20px;
    font-weight: bold;
    color: #973330;
    background-color: #ffeeef;
    overflow-x: hidden;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: #e1888b;
}

a:active {
    color: #973330;
}

a:hover {
    color: goldenrod;
    text-decoration: none;
}

a:visited {
    color: #e1888b;
}

.navbar {
    color: white;
    background-color: #fac4c2;
    height: 90px;
}

/* MAIN */

.jumbotron {
    background-image: url(../img/jumbotron-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 40px 0 0 10px;
    border: none;
    border-radius: 0;
}

.jumbotron .btn {
    background-color: #973330;
    color: white;
    border: none;
}

.jumbotron .btn:hover {
    background-color: #8dbacd;
}

#main-content {
    font-family: 'Qwitcher Grypen';
    font-size: 40px;
    padding-top: 50px;
}


.main-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50vw;
}

.secondary-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Alegreya SC';
    font-size: 30px;
    width: 50vw;
}

.services {
    text-align: center;
    font-family: 'Alegreya SC' !important;
    font-size: 25px !important;
    width: 50%;
}

.services hr {
    width: 100px;
}

.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

/* ACCORDION */

.accordion {
    background-color: #ffeeef;
    width: 50vw;
}

.accordion-item {
    color:#973330;
    background-color: #ffeeef;
    font-weight: 200;
}

.accordion-button {
    color: white;
    background-color: #973330;
    font-size: large;
}

.accordion-button:not(.collapsed)  {
    color: #fff;
    background-color: #e1888b;
}

/* SERVICES */

.services ul {
    text-align: left;
    list-style: inside ;
}


.services ul p {
    font-size: large;
    text-indent: 50px;
}

.titles {
    font-family: 'Qwitcher Grypen';
    font-size: 50px;
    font-weight: 600;
}

/* CAROUSEL */

#carousel {
    background-color: #973330;
}

.carousel-inner {
    image-rendering: optimizeSpeed;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

.carousel-item img {
    height: 700px; /* 50vh */
    width: 100vw;    
}

/* SUBSCRIBE FORM */
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #973330;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

/* FOOTER */

#footer {
    background-color: #ffeeef;
    color: #973330;
}

.footer-text {
    font-family: 'Qwitcher Grypen';
    font-size: 40px;
}

#footer-copyright {
    background-color: #fac4c2;
}

/* TABLET VIEW */

@media (min-width: 481px) and (max-width: 1440px) {

    .navbar {
        height: auto;
    }

    .jumbotron p {
        font-weight: 600;
        text-shadow: #000;
    }

    .main-content {
        padding-bottom: 20px;
    }

    .main-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }
    
    .logo {
        margin-bottom: -15%;
    }

    .carousel-item img {
        max-height: 500px; /* 50vh */  
    }

}

/* MOBILE VIEW */

@media only screen and (max-width: 480px) {

    .navbar {
        height: auto;
    }

    .jumbotron {
        height: 450px;
        padding: 25px 0 0 13px;
    }

    .main-text {
        min-width: 90vw;
    }

    .carousel-item img {
        max-height: 300px;
        object-fit: fill;
    }
}